{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete Employee" %}{% endblock %}

{% block content %}
<div class="container py-3 text-center">
  <div class="card shadow p-5">
    <i class="bi bi-exclamation-triangle-fill text-danger fs-1"></i>{% trans "Confirm Delete" %}
    <h4 class="mt-3">{% trans "Are you sure you want to delete the" %}
    <strong>{{ object.name }}</strong>?</h4>
    
    <form method="post" class="mt-4">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger me-2">
          <i class="bi bi-trash"></i> {% trans "Delete" %}
      </button>
      <a href="javascript:history.back()" class="btn btn-secondary">
          <i class="bi bi-x-circle"></i> {% trans "Cancel" %}
      </a>
    </form>
  </div>
</div>
{% endblock %}
