{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="card shadow-sm">
        <div class="card-header {% if object %}bg-warning{% else %}bg-success{% endif %} text-white">
                <i class="bi bi-pencil-square"></i> {% trans "Change password" %}
        </div>

        <form method="post">
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>

            <!-- Footer -->
            <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="btn btn-custom-warning mx-2">
                    <i class="bi bi-key-fill"></i> {% trans "Change password" %}
                </button>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary"><i class="bi bi-x-circle"></i> {% trans "Cancel" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
