{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|slice:":2" }}" dir="{% if LANGUAGE_CODE|slice:":2" == 'ar' %}rtl{% else %}ltr{% endif %}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% trans "Login" %} | HelpDesk{% endblock %}</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/logo-1.png' %}" type="image/png" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% block extra_css %}{% endblock %}
</head>
<body>

  <!-- Main Content -->
  {% block content %}{% endblock %}

  <!-- Scripts -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
