{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if object %}
        {% trans "Edit Ticket" %}
    {% else %}
        {% trans "New Ticket" %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="card shadow-sm">
        <div class="card-header {% if object %}bg-warning{% else %}bg-success{% endif %} text-white">
            {% if object %}
                <i class="bi bi-pencil-square"></i> {% trans "Edit Ticket" %}
            {% else %}
                <i class="bi bi-plus-circle"></i> {% trans "New Ticket" %}
            {% endif %}
        </div>
        <form method="post">
            <div class="card-body">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                    {% for field in form %}
                        <div class="col-12">
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {% if field.field.widget.input_type == "checkbox" %}
                                    <div class="form-check">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="text-danger small">{{ field.errors|striptags }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

        </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit" class="btn {% if object %}btn-custom-warning{% else %}btn-custom-primary{% endif %} mx-2">
                        {% if object %}
                            <i class="bi bi-save"></i> {% trans "Update" %}
                        {% else %}
                            <i class="bi bi-plus-circle"></i> {% trans "Create" %}
                        {% endif %}
                    </button>
                    <a href="{% url 'ticket_list' %}" class="btn btn-secondary">
                        <i class="bi bi-x-circle"></i> {% trans "Cancel" %}
                    </a>
                </div>
        </form>
    </div>
</div>
{% endblock %}
